body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}
body {
    background-color: black;
}





.header {
  background-color: #000000;
  margin:0;
  width: 100%;
}

.ulicon {
    float:right;
    margin-right:50px; 
    margin-bottom: 5px;
}





.navbar { 
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  background-color: #AEA3D9;
  width: 100%;
  text-decoration-color: black;
}   

.li {
  list-style-type: none;
  padding:10px;
  margin:10px;
}





.hero-image {
  display:inline-block;
  background-position:top;
  background-repeat: no-repeat;
  width: 6in;
  margin-left: 500px;
}

.hero-h2 {
  display:inline-block;
  float:right;
  width: 40px;
  margin-top: 40px;
  color: #AEA3D9;
  margin-right: 60px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
}

.hero-h1 {
  display:inline-block; 
  float:left;
  text-align: left;
  color: #AEA3D9;
  margin-left:350px;
  margin-top: 400px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 40px;
}










.footer {
  font-family: 'Work Sans', sans-serif;
  display: inline-block;
      float: left;
      align-content: center;
      padding: 10px;
      margin: 10px;
      background-color: #AEA3D9;
      text-align: center;
      width: 100%;
      text-decoration-color: black;
      align-content: flex-end;
}

.footlogo {
  float:left;
  margin-left: 50px;
  padding:20px;
  align: center;
  width: 1in;
}



.mailicon1 {
   float:left;
   margin-left: 450px;
}

.mailicon2 {
    float:left;
    margin-left: 450px;  
    padding-right: 0;
   
}

.email1 {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.email2 {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.block1 {
  display: inline-block;
}

.block2 {
  display: inline-block;
}

.imgdoc {
  float:right;
  margin-right:50px;
  padding:5px;
  margin-top: 50px;
}

.imglinked {
  float:right;
  padding:5px;
  margin-top: 50px;
}
